In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from gdal import *
from osgeo import *
import csv

In [2]:
agua = pd.read_csv("/home/manuela/sancor/CSV/diego_nuevo.csv")

In [3]:
agua.head()

   Latitud  Longitud  id
0   536985  -3632385   0
1   537085  -3632385   1
2   541785  -3632885   2
3   541885  -3632885   3
4   541785  -3632985   4

In [4]:
SourceEPSG = 32620  
TargetEPSG = 4326

source = osr.SpatialReference()
source.ImportFromEPSG(SourceEPSG)

target = osr.SpatialReference()
target.ImportFromEPSG(TargetEPSG)

Lat_trans = []
Long_trans = []

def CRSTransform(Lat, Long):
    transform = osr.CoordinateTransformation(source, target)
    point = ogr.Geometry(ogr.wkbPoint)
    point.SetPoint_2D(0, float(Lat), float(Long))
    point.Transform(transform)
    #print (point.GetX(), "   ", point.GetY())
    Long_trans.append(point.GetX())
    Lat_trans.append(point.GetY())

In [5]:
#print ("Reading CSV")
inCSV = csv.DictReader(open("/home/manuela/sancor/CSV/diego_nuevo.csv"))

for row in inCSV:
    lat = row['Latitud']
    long = row['Longitud']
    CRSTransform(lat, long)

In [6]:
agua['Latitud'] = Long_trans
agua['Longitud'] = Lat_trans

In [7]:
pd.DataFrame(agua).to_csv("/home/manuela/sancor/CSV/diego_nuevo.csv")